logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*


node_modules/
dist/
dist-ssr/
*.local


target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties


.gradle/
build/
!gradle-wrapper.jar
gradle-app.setting
gradle-app.setting.lock
gradle-app.properties
gradle-app-properties.lock


*.iws
*.iml
*.ipr


*.class
*.jar
*.war
*.ear


*.env
*.env.*
application-local.yml
application-local.properties
application-dev-local.yml
application-dev-local.properties


*.keystore
*.p12
*.jks


.DS_Store
Thumbs.db


.vscode/*
!.vscode/extensions.json


.idea/
*.iws
*.iml
*.ipr

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/target
